.container{
    width: 410px;
}
.containerSmall{
    width: 410px;
}
.btn{
    width: 29%;
}
.popup{
    width:86%;
    font-size: 16px;
}
.lostpopup{
    width:86%;
    font-size: 16px;
}
#life img{
    width: 25px;
    height: 25px;
}
